bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.DS_Store
/.DS_Store/
.idea/
.vscode/

Frontend/bin/
Frontend/obj/
Frontend/publish/

MongoWebApi/bin/
MongoWebApi/obj/
MongoWebApi/publish/

publish/