@page "/AddUser"
@inject HttpClient Http
@using Frontend.Models.DTO
<h3 class="text-2xl text-center" >AddUser</h3>

<div class="flex justify-center">
<EditForm class="shadow-lg p-3 w-1/2" Model="@newUser" OnValidSubmit="@OnAddUser">
    <div class="text-red-500">
        <DataAnnotationsValidator />
        @* <ValidationSummary/> *@
    </div>
    <div class="flex flex-col">
        <label for="name">Name:</label>
        <InputText @bind-Value="newUser.Name" id="name" class="border border-gray-400"/>
        <div class="text-red-500">
            <ValidationMessage For="() => newUser.Name" class="text-red-500" />
        </div>
        <label for="email">Email:</label>
        <InputText @bind-Value="newUser.Email" id="email" class="border border-gray-400" />
        <div class="text-red-500">
            <ValidationMessage For="() => newUser.Email"/>
        </div>
        <button class="mt-3 hover:cursor-pointer px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white">Add user</button>
    </div>
</EditForm>
</div>

<div>
    @if (showSuccessMessage)
    {
    <div class="alert alert-success mt-3">
        User added successfully!
    </div>
    }

    @if (errorMessage != null)
    {
    <div class="alert alert-danger mt-3">
        @errorMessage
    </div>
    }
</div>

@code {
    private CreateUserDto newUser = new CreateUserDto();
    private bool showSuccessMessage;
    private string? errorMessage;
    
    private async Task OnAddUser()
    {
        // newUser = new CreateUserDto("", "");
        try
        {
            Console.WriteLine("ADD USER");
            var response = await Http.PostAsJsonAsync("/api/users", newUser);
            // Console.WriteLine(response.StatusCode);
            // Console.WriteLine(response.IsSuccessStatusCode);
            if (response.IsSuccessStatusCode)
            {
                showSuccessMessage = true;
                newUser = new CreateUserDto();
                errorMessage = null;
        
                // await Task.Delay(2000);
                // 
            }
            else
            {
                errorMessage = $"Error: {response.StatusCode}";
                // newUser = new User();
                // await Task.Delay(2000);
                // errorMessage = null;
            }
            // newUser = new User();
        }
        catch (Exception e)
        {
            errorMessage = $"Exception: {e.Message}";
        }

        // Thread.Sleep(2000);
        // showSuccessMessage = false;
    }
}