@page "/Users"
@using Frontend.Models
@inject HttpClient Http;

<PageTitle>Users Page</PageTitle>
<h3>Users</h3>

@if(users!=null && users.Any())
{
    @foreach (var user in users)
    {
        <div>@user.Name</div>
    }
}

@code {
    private IEnumerable<User>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<IEnumerable<User>>("/api/users");
    }
}