@page "/Users"
@using Frontend.Models
@inject HttpClient Http;

<PageTitle>Users Page</PageTitle>
<h1 class="text-center text-4xl">Users</h1>

@if(users!=null && users.Any())
{
    @foreach (var user in users)
    {
        <div class="hover:bg-gray-200 cursor-pointer p-3 border border-2 border-gray-400 mb-3 shadow-lg rounded">@user.Name</div>
    }
}

@code {
    private IEnumerable<User>? users;

    protected override async Task OnInitializedAsync()
    {
        users = await Http.GetFromJsonAsync<IEnumerable<User>>("/api/users");
    }
}